mixin section-first(data)
    section.section.section_first.section_style-first
        .section__w
            .section__left
                h1.section__title Бакинская бухта
                .section__text
                    p Бакинская Бухта– это ресторан домашней азербайджанской кухни в Москве.
                    p Если вы хотите вкусно поесть, отлично провести время и насладиться приятной и невероятно гостеприимной атмосферой – тогда с радостью приглашаем вас в гости!

            ul.section__img-block.section__right.img-block
                li.img-block__item
                    img.img-block__img(src="__static__/img/content/index-img-1.jpg", alt="")
                li.img-block__item
                    img.img-block__img(src="__static__/img/content/index-img-2.jpg", alt="")
                li.img-block__item
                    img.img-block__img(src="__static__/img/content/index-img-3.jpg", alt="")

    //- end first section

mixin section-slider(data)
    section.section.section_slider
        h2.section__title Галерея

        ul.slider
            li.slider__item
                img.slider__img(src="__static__/img/content/slider-img-1.jpg", alt="")
            li.slider__item
                img.slider__img(src="__static__/img/content/slider-img-2.jpg", alt="")
            li.slider__item
                img.slider__img(src="__static__/img/content/slider-img-3.jpg", alt="")
            li.slider__item
                img.slider__img(src="__static__/img/content/slider-img-4.jpg", alt="")

    //- end second section

mixin section-gallery(data)
    section.section.section_gallery
        h2.section__title Азербайджанская кухня

        ul.gallery
            li.gallery__item
                a.gallery__link(href="__static__/img/content/a-1.jpg")
                    img.gallery__img(src="__static__/img/content/a-thumb-1.jpg", alt="")
            li.gallery__item
                a.gallery__link(href="__static__/img/content/a-2.jpg")
                    img.gallery__img(src="__static__/img/content/a-thumb-2.jpg", alt="")

            li.gallery__item
                a.gallery__link(href="__static__/img/content/a-3.jpg")
                    img.gallery__img(src="__static__/img/content/a-thumb-3.jpg", alt="")
            li.gallery__item
                a.gallery__link(href="__static__/img/content/a-4.jpg")
                    img.gallery__img(src="__static__/img/content/a-thumb-4.jpg", alt="")

            li.gallery__item
                a.gallery__link(href="__static__/img/content/a-5.jpg")
                    img.gallery__img(src="__static__/img/content/a-thumb-5.jpg", alt="")
            li.gallery__item
                a.gallery__link(href="__static__/img/content/a-6.jpg")
                    img.gallery__img(src="__static__/img/content/a-thumb-6.jpg", alt="")
            li.gallery__item
                a.gallery__link(href="__static__/img/content/a-7.jpg")
                    img.gallery__img(src="__static__/img/content/a-thumb-7.jpg", alt="")
            li.gallery__item
                a.gallery__link(href="__static__/img/content/a-8.jpg")
                    img.gallery__img(src="__static__/img/content/a-thumb-8.jpg", alt="")

            li.gallery__item
                a.gallery__link(href="__static__/img/content/a-9.jpg")
                    img.gallery__img(src="__static__/img/content/a-thumb-9.jpg", alt="")
            li.gallery__item
                a.gallery__link(href="__static__/img/content/a-10.jpg")
                    img.gallery__img(src="__static__/img/content/a-thumb-10.jpg", alt="")

            li.gallery__item
                a.gallery__link(href="__static__/img/content/a-11.jpg")
                    img.gallery__img(src="__static__/img/content/a-thumb-11.jpg", alt="")
            li.gallery__item
                a.gallery__link(href="__static__/img/content/a-12.jpg")
                    img.gallery__img(src="__static__/img/content/a-thumb-12.jpg", alt="")

            li.gallery__item
                a.gallery__link(href="__static__/img/content/a-13.jpg")
                    img.gallery__img(src="__static__/img/content/a-thumb-13.jpg", alt="")
            li.gallery__item
                a.gallery__link(href="__static__/img/content/a-14.jpg")
                    img.gallery__img(src="__static__/img/content/a-thumb-14.jpg", alt="")

            li.gallery__item
                a.gallery__link(href="__static__/img/content/a-15.jpg")
                    img.gallery__img(src="__static__/img/content/a-thumb-15.jpg", alt="")
            li.gallery__item
                a.gallery__link(href="__static__/img/content/a-16.jpg")
                    img.gallery__img(src="__static__/img/content/a-thumb-16.jpg", alt="")

            li.gallery__item
                a.gallery__link(href="__static__/img/content/a-17.jpg")
                    img.gallery__img(src="__static__/img/content/a-thumb-17.jpg", alt="")
            li.gallery__item
                a.gallery__link(href="__static__/img/content/a-18.jpg")
                    img.gallery__img(src="__static__/img/content/a-thumb-18.jpg", alt="")

    //- end third section

mixin section-text(data)
    .section.section_text

       .section__text
           p В нашем ресторане шеф-повара специально разработали уникальное меню с блюдами, приготовленные по традиционным старинным азербайджанским рецептам. Многие рецепты мы собирали у старейшин и на домашних праздниках, что придает им домашний колорит, весомые порции и изумительный аромат. А самое главное, вкусовой восторг, кавказское гостеприимство, уютная атмосфера с приятной музыкой и внимательное обслуживание мы предлагаем вам по вполне умеренным для Москвы ценам.
           p Так же, если вы хотите устроить домашний праздник и разнообразить его восхитительными шашлыками на мангале или любыми другими нашими блюдами, мы предоставляем вам услугу по доставке еды на дом. Доставка происходит при заказе от 400 рублей. Для тех, у кого не так много времени на обед, мы предлагаем вам бизнес-ланч за 260 руб., который просто поразит вас размерами порций.
           p Мы работаем для вас 24 часа в сутки, 7 дней в неделю, 365 дней в году. Приходите к нам в гости, и по достоинству оцените вкус и наше гостеприимство. Мы всегда вам рады!

    //- end fourth section

mixin section-five(data)
    section.section.section_five.section_style-first
        .section__w
            .section__left
                h2.section__title Наше меню
                .section__text
                    p Современный и лаконичный интерьер Бакинской Бухты, выполненный в спокойных тонах с применением натуральных материалов, не лишен интересных дизайнерских находок: внимание привлекают винный шкаф из африканского дерева сапеле, стильные керамические вазы с цветочными композициями, открытый бар с витражами.

                a.section__more-link(href="#") СМОТРЕТЬ МЕНЮ ПОЛНОСТЬЮ

            ul.section__img-block.section__right.img-block
                li.img-block__item
                    img.img-block__img(src="__static__/img/content/index-img-4.jpg", alt="")
                li.img-block__item
                    img.img-block__img(src="__static__/img/content/index-img-5.jpg", alt="")
                li.img-block__item
                    img.img-block__img(src="__static__/img/content/index-img-6.jpg", alt="")

    //- end five section

mixin section-social(data)

    .section.section_social
        .section__in
            .social
                h2.social__title мы в соцсетях
                ul.social__list
                    li.social__item.social__item_inst
                        a.social__link(href="#link-1") Инстаграм



mixin section-social(data)

    .section.section_services
        .section__in
            .services
                h1.services__title Банкеты и услуги
                .services__w
                    p.services__text.services_left
                        strong Фуршеты, банкеты, свадебные торжества, корпоративные мероприятия, детские праздники.

                        p Ресторан Бакинская бухта - идеальное место для проведения мероприятий любого формата и направленности. Светский ужин или деловая встреча, корпоративное торжество или гала-концерт - каждое событие станет незабываемым и полным позитивных эмоций.

                        p Мы с удовольствием предлагаем Вам профессиональную организацию фуршетов, свадебных банкетов, детских праздников и концептуальных вечеринок.

                        p От Вас требуются только Ваши пожелания, и мы выполним их с учетом все деталей: организация индивидуальной шоу-программы, техническое оснащение, визуальное и звуковое оформление.

                    .services__img.services_right
                        img(src="__static__/img/content/service-1.jpg", alt="Банкеты и услуги")

            .services
                h2.services__title Кейтеринг
                .services__w
                    p.services__text.services_right
                        p Ресторан Бакинская бухта имеет честь предложить организацию выездного обслуживания в любом уголке Москвы.

                        p Мы готовы организовать как романтический ужин на двоих, так и роскошный свадебный банкет, приватный прием или обед по всем требованиям делового протокола. В любом формате проведения мероприятия мы гарантируем высокий уровень сервиса, безупречное обслуживание и блюда высокого класса.

                        p Профессионалы ресторана Бакинская бухта всегда рады воплотить в жизнь Ваши пожелания и стать надолго Вашими друзьями.

                    .services__img.services_left
                        img(src="__static__/img/content/service-2.jpg", alt="Кейтеринг")


