// Common styles of the project

html, body
    height 100%


.in
    margin auto
    padding-left 10px
    padding-right 10px
    width 1200px

.page
    min-width 1200px
    font-family $serifReg
    font-size 22px
    line-height 26px
    font-weight normal
    color #000

.page__wrapper
    min-height 100%
    margin-bottom -50px


* html .page__wrapper
    height 100%

.page__buffer
    height 50px


.main
    margin auto
    width 1100px
