mixin footer(data)
    footer.footer
        .footer__in
            .footer__w
                .footer__copyright Copyright (c)
                a.footer__email(href="mailto:info@bbrestoran.ru") email: info@bbrestoran.ru
                a.footer__phone(href="tel:+79057776060") Tel: +7 (905) 777-60-60
