mixin hero(data)
    .hero
        .hero__bg
        .hero__badge.badge
            .badge__w
                p.badge__title Бакинская бухта
                p.badge__text Ресторан
//- end hero index

mixin hero-bankets(data)
    .hero
        .hero__bg
        .hero__badge.badge
            .badge__w
                p.badge__title Бакинская бухта
                p.badge__text Банкеты
//- end hero index

mixin hero-news(data)
    .hero.hero_news
        .hero__bg


//- end hero news

mixin hero-contacts(data)
    .hero.hero_contacts
        .hero__bg
        .hero__badge.badge
            .badge__w
                p.badge__title Бакинская бухта
                p.badge__text Контакты

//- end hero contacts


mixin hero-delivery(data)
    .hero.hero_delivery
        .hero__bg
        .hero__badge.badge
            .badge__w
                p.badge__title Бакинская бухта
                p.badge__text Доставка

//- end hero delivery
