.delivery
    position relative
    padding-top 54px
    z-index 1
    &__title
        margin-bottom 20px
        @extends .title
        text-align center

    .section__text
        p
            text-align left

