
mixin delivery(data)
    .delivery
        h1.delivery__title Доставка еды на дом

        .section.section_text

           .section__text
               p Ресторан "Бакинская бухта" предлагает вам попробовать вкуснейшие блюда традиционной азербайджанской кухни с доставкой на дом или в офис! Огромный выбор блюд, помогут вам по настоящему узнать, что такое традиционное Бакинское гостеприимство. Непередаваемые ароматы кавказских специй, только отборные свежие продукты, а так же все мастерство наших поваров вложены в работу!
               p Мы не ограничиваем вас наличием минимальной суммы заказа! Доставка осуществляется от 1000 руб. ежедневно. Поверьте, попробовав раз, вам захочется заказывать у нас снова и снова!
