.contacts
    position relative
    padding-top 44px
    padding-bottom 0
    font-family $serifReg
    font-weight normal
    font-size 20px
    text-align center
    z-index 1
    &__title
        margin-bottom 30px
        @extends .title
    &__address
        margin-bottom 4px
        font-size 22px
        span
            font-family $serifBld
            font-size 24px
            font-weight normal
    &__phone
        margin-bottom 40px
        font-size 22px
        span
            font-family $serifBld
            font-size 24px
            font-weight normal

    &__map
        height 393px
