.news
    position relative
    z-index 1
    padding-top 90px
    padding-bottom 90px
    &__item
        cf()
    &__img
        border 1px solid #000
        margin-right 43px
        float left
        img
            max-width 100%
            height auto
    &__w
        float left
    &__date
        margin-bottom 13px
        font-family $serifIt
        font-weight normal
        font-size 30px
        line-height 36px
        color #8C2914
    &__title
        margin-bottom 13px
        font-family $serifBld
        font-weight normal
        font-size 22px
        line-height 26px
        color #0071BC
    &__text
        @extends .wysiwyg
        p
            margin-bottom 13px
