mixin news(data)
    .news
        .news__item
            .news__img
                img(src="__static__/img/content/news-1.jpg", alt="")
            .news__w
                .news__date 20.06.2016
                .news__title Открытие веб-сайта
                .news__text Ресторан "Бакинская бухта" запускает веб-сайт

