mixin header(data)
    header.header
        .header__logo.logo(href="/") Бакинская бухта
        nav.header__nav.nav
            ul.nav__list
                li.nav__item
                    a.nav__link(href="link-1") Link 1
                li.nav__item
                    a.nav__link(href="link-2") Link 2
                li.nav__item
                    a.nav__link(href="link-3") Link 3
                li.nav__item
                    a.nav__link(href="link-4") Link 4
                li.nav__item
                    a.nav__link(href="link-5") Link 5
                li.nav__item
                    a.nav__link(href="link-6") Link 6
        a.header__contacts(href="#") связаться с нами
