mixin header(data)
    header.header
        .header__in
            a.header__logo.logo(href="/") Бакинская бухта

            nav.header__nav.nav
                ul.nav__list
                    li.nav__item
                        a.nav__link(href="link-1") Ресторан
                    li.nav__item
                        a.nav__link(href="link-2") Меню
                    li.nav__item
                        a.nav__link(href="link-3") События
                    li.nav__item
                        a.nav__link(href="link-4") Банкеты
                    li.nav__item
                        a.nav__link(href="link-5") Доставка
                    li.nav__item
                        a.nav__link(href="link-6") Контакты

            a.header__contacts.is_popup(href="#contacts-popup") связаться с нами
